<div id="contents"  style="padding-top: 10%">
    <div style="position: relative;" class="container">
        <div class="row">
            <div>
                <div style='color: white; font-family: "Trebuchet MS", Helvetica, sans-serif' class="ten columns"><h2 id="fittext1">PASSIONATE ABOUT<br/> ENGINEERING.</h2></div>
            </div>
        </div>
        <div class="row">
            <div class="six columns"><button id="go-to-stories" class="button-primary">Go to stories</button></div>
        </div>
    </div>
</div>