<div id="contents"  style='font-family: "Trebuchet MS", Helvetica, sans-serif; padding-top: 5%'>
    <div class="stories container">
        <div class="row">
            <div class="epics six columns">
                <h3>Epics</h3>
                <div><a class="story-link" href="stories/lets-program-a-fanuc-story">1. Let's program a FANUC with eyes!</a></div>
                <div>More to be added soon...</div>
            </div>
            <div class="short-stories six columns">
                <h3>Short stories</h3>
                <div>To be added soon...</div>
            </div>
        </div>
    </div>
</div>